@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Students</PageTitle>

<h1>Students</h1>

@if (students == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students) {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.FirstName @student.LastName</td>
                    <td>@student.School</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Student[]? students;

    protected override async Task OnInitializedAsync() {
        students = await Http.GetFromJsonAsync<Student[]>("api/students");

    }

    public class Student {
        public int StudentId { get; set; }
        public string? LastName { get; set; }
        public string? FirstName { get; set; }
        public string? School { get; set; }
    }
}
